// Layout
$mobile: 375px;
$desktop: 1440px;

// Colors
$primary-green: hsl(158, 36%, 37%);
$primary-green-hover: hsl(158, 36%, 20%);
$primary-cream: #f2ebe3;
$neutral-blue: #1c232b;
$neutral-gray: #6c7289;
$neutral-white: #ffffff;

// Typography
$fs-body: 14px;
$ff-body: "Montserrat", sans-serif;
$ff-heading: "Fraunces", serif;
$fw-medium: 500;
$fw-bold: 700;
